@font-face {
    font-family: AnnieUseYourTelescope;
    src: url("images/AnnieUseYourTelescope.ttf");
}
@font-face {
    font-family: OpenSans-Light;
    src: url("images/OpenSans-Light.ttf");
}


*{margin:0; padding:0;}
body {background: #F8C59A; font-family: "OpenSans-Light"; font-size: 1em; text-size-adjust: 100%; }
a {text-decoration: none;}
h5{font-size: 0.5em;}
h4 { text-decoration: underline; display: inline-block; margin-bottom: 10px; }
h3 { color: black; }
h2 { text-align: left; font-size: 1.3em; color: black ;  margin-bottom: 20px; font-style: italic;}
h1 { font-size: 2.2em; color: #B35D19; font-family: "AnnieUseYourTelescope";}
hr {border: 1px dashed #D1B9A4; margin-bottom: 50px;}
p {margin-bottom:30px; color: black;}
table td {padding: 5px;}
input,textarea{padding: 10px;
    width: 200px;}
  button{padding: 10px;}
#wrapper{margin: 0; padding:0;}

header{ display: flex; height: 130px;background: #FFD3AE;}
header img{height: 100%;}
header>a {display: block;
    padding-left: 16px;
    padding-right: 20px;
    padding-bottom: 15px;
    height: 115px;
    background: white;
      border-radius: 0 0 60px 0px;}
nav {align-self: baseline; width: 100%; text-align:center; font-size: 1.3em; background: #2A2521;}
nav ul {list-style: none;  height: 75px; font-family: "AnnieUseYourTelescope"; font-size: 1.5em;}
nav li {display: inline-block; padding: 10px; padding-left: 20px; padding-right: 20px;}
nav li a {color: #B35D19;}
nav li a:hover{color: #F4A05B;}

#submenu {width: 120px; position: fixed; left: 0px; top: 300px; color:#B35D19; background-color: #2A2521; padding: 10px; font-size: 0.8em; text-align: center; border: 3px solid #DB8136;}
#submenu ul {list-style: decimal; margin-left:20px; text-align: left;}
#submenu hr {margin-bottom:10px;}
.icon {width: 40px;}
section a {font-weight: bold; padding: 1px; color: #B35D19;}
section a:hover{color: #73604F; }
section ul {margin: 20px; margin-left: 40px;}
section ul li { margin-bottom: 10px;}

footer{background: #D3C4B8; text-align: center; padding: 20px; color: #73604F;}
footer a {color: #73604F;}
footer a:hover {color: #B35D19;}

.block {position: relative; padding:50px; padding-top:30px;  width: 50%; margin:0 auto; }
.row{width: 100%; }
.row:nth-of-type(even){background: #FFD3AE;}

.portret{max-width: 40%;  float: left; font-size: 1.5em; }
.portret img {width: 100%; border: 3px solid #DB8136; border-radius: 2px 2px 2px 2px;}
.refer {background: #FFE1C9; padding: 10px; font-size: 1em;}

.news { text-align: left;  font-style: italic; max-height: 330px; float:left; margin-left: 30px; max-width:50%;overflow-y:auto;}
.news h2{font-family: "AnnieUseYourTelescope"; margin-bottom: 0px; font-size: 2em;  color: #B35D19; }
.news h3{padding:5px; }
.news hr { border-color: #B35D19; margin-bottom: 0px;}
.news ul {margin:0px; background: #D1B9A4; list-style: none;}
.news li {margin-bottom:3px; padding: 10px; background: #FFD3AE;}
.posted{font-size: 0.7em;}


.experience {border: 3px solid #DB8136; padding:15px; color: #DB8136; margin-bottom: 30px;}
.experience ul{margin-left: 40px; color: #2A2521; font-style: italic;}
.experience h3{text-align:right; display: inline-block; margin-left: 20px;}


.box {border: 3px solid #DB8136; padding:15px; font-style: italic;}
.pic{width: 100%;}
.clear{clear: both;}
.italic{font-style: italic;}
.bold{font-weight: bold;}


.new_courses{
  border: 2px solid #73604f;
  padding: 20px;
  background: #ffd3ae;
  margin-bottom: 35px;
  margin-top: 35px;
  box-shadow: 10px 10px 32px #FFD3B8;
  border-radius: 2px;
}
.block{display: flex;flex-direction: row; width: 80%; height: 320px;}
.block img{height:320px;}
.block div{display: flex; flex-direction: column; padding-left: 35px; width: 100%;}
.block div h2{font-style: unset; margin-bottom: 0px; font-size: 25px; max-height: 136px;}
.block div .datum{    margin-left: auto;
    font-size: 12px;
  margin-bottom: 20px;

     font-style: italic;
  width: fit-content;}
  .block .popis{height: 115px;     text-overflow: clip;}
  .block div a{
    text-align: center;
    padding:10px;
    background:#2a2521;
    color: #FFD3AE;
  }
  .block div a:hover{color: #b35d19;}
  #bodyClanek{background: #ffd3ae;margin:0;width: 100%; height: 100vh;}
  #clanek{width: 80%; margin: auto; min-height: 100vh;}
  #clanek h1{    margin-top: 30px;
    }
    #clanek span{ display: block;font-size: 15px; margin-bottom: 30px; font-weight: bold;}
  #clanek img{width: 500px; float: left; margin-right: 30px; margin-bottom: 10px;}
  #content p{margin: 0;}
  #content{overflow: hidden;}

@media screen and (max-width: 1000px)
{
.news h2 {font-size: 1em;}
/*nav ul {font-size: 1em; height: 60px;}
#submenu {width: 100px;}
*/
}
